.skill-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  background: transparent;
  scroll-snap-align: center;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease-out;
}

.skill-card.active {
  opacity: 1;
  transform: translateY(0);
}

.outer-frame {
  background-color: var(--color-card-bg);
  padding: 12px;
  border-radius: 18px;
  width: 240px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.outer-frame:hover {
  transform: scale(1.02);
}

.inner-box {
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-red-500);
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}

.preview-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
  /* mix-blend-mode: multiply; */
}

.icon-circle {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.skill-info {
  flex: 1;
}

.skill-info h2 {
  color: #ffffff;
  font-size: 2.5rem;
  margin: 0;
  font-weight: bold;
}

.skill-info p {
  color: #ffffff;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

@media (max-width: 768px) {
  .skill-card {
    flex-direction: column;
    text-align: center;
  }
  .outer-frame {
    width: 200px;
    height: 280px;
  }
}
